extends layout

block extraHead
  link(rel="stylesheet", type="text/css", href="stylesheets/analysis.css")
  script(type="application/javascript", src="/javascripts/progressbar.min.js")
  script(type="application/javascript", src="/javascripts/jquery.knob.min.js")
  script(type="application/javascript", src="javascripts/analysis.js")
  script(type="application/javascript", src="/javascripts/prediction.js")

block content
  .title.container-fluid
    .row-fluid
      .col-md-offset-3.col-md-6.username
        h1= username
    .row-fluid
      .col-md-offset-3.col-md-6
        .curr-rank Bronze
        .separator &nbsp;&rarr;&nbsp;
        .next-rank Challenger
    .row-fluid.margin-top-8
      .col-md-offset-5.col-md-2
        .dial

  .fake-title
  .container-fluid
    .row-fluid
      .module.col-md-4
        p Hi
      .module.col-md-4
        p Hi
      .module.col-md-4
        p Hi

