//------------------------------------------------------------
// Setup
//------------------------------------------------------------

//------------------------------------------------------------
// Landing Page
//------------------------------------------------------------

.center {
    margin: 0 auto;
    float: none;
    background-color: red;
}
